:root {
  --color-primary: #ffffff;
  --color-secondary: #222222;
  --color-primary-inverted: #000000;
  --color-bg: #343d4b;
  --color-blue: #008bfe;
  --color-blue-opacity: rgba(0, 140, 254, 0.254);
  --color-bg-like: #cce8ff;
  --color-bg-card: #272e37;
  --color-bg-main: #f0f4f8;
  --gradient: linear-gradient(
    91deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --gradient-inverted: linear-gradient(
    256deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );
  --font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-primary);
  background-color: var(--color-bg-main);
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
